.fade1-in {
	animation: fade1-slide-in 1s forwards;
}
.fade1-out {
	animation: fade1-slide-out 1s forwards;
}
.fade2-in {
	animation: fade2-slide-in 1s forwards;
}
.fade2-out {
	animation: fade2-slide-out 1s forwards;
}
.fade3-in {
	animation: fade3-slide-in 1s forwards;
}
.fade3-out {
	animation: fade3-slide-out 1s forwards;
}

.left1 {
	width: 2.5rem;
	left: -15.4rem;
}

.left2 {
	width: 2rem;
	left: -11.1rem;
}

.left3 {
	width: 2.5rem;
	left:  -7.4rem;
}

.left4 {
	width: 3rem;
	left: -3rem;
}

@keyframes marque {
   from {
      transform:translateX(-40%);
   }
   to {
      transform:translateX(40%);
   }
}

@keyframes menu-slide-in {
	0% {
		opacity: 0;
		display: block;
		height: 0;
		z-index: 100;
	}
	100% {
		opacity: 100%;
		height: 9rem;
	}
}

@keyframes menu-slide-out {
	0% {
		opacity: 100%;
		height: 9rem;
	}
   100% {
      opacity: 0;
		height: auto;
		height: 0;
		z-index: -1;
   }
}

@keyframes move {
	0% {
		transform: translateX(-1rem);
	}
	100% {
		transform: translateX(5rem);
	}
}
@keyframes fade-slide {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0;
	}
}
@keyframes fade1-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade1-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}
@keyframes fade2-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade2-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}
@keyframes fade3-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade3-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}

.slide1-up {
	top: 0rem;
}
.slide2-up {
	top: -23rem;
}
.slide3-up {
	top: -48rem;
}

@media screen and (min-width: 425px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 48rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}

	.slide1-up {
		top: 0rem;
	}
	.slide2-up {
		top: -21rem;
	}
	.slide3-up {
		top: -42rem;
	}
}

@media screen and (min-width: 510px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}

	.slide3-up {
		top: -40rem;
	}
}

@media screen and (min-width: 768px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -62rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -62rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 62rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -62rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 62rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -62rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 62rem 0, 0 0;
		}
	}

	.slide1-up {
		top: 0rem;
	}
	.slide2-up {
		top: -15rem;
	}
	.slide3-up {
		top: -31rem;
	}
}

@media screen and (min-width: 1024px) {
	.fade1-in-desktop {
		left: 44.5rem;
	}
	.fade2-in-desktop {
		left: 8.5rem;
	}
	.fade3-in-desktop {
		left: -28rem;
	}
	.slide1-up {
		top: 18rem;
	}

