.fade1-in {
	animation: fade1-slide-in 2s forwards;
}
.fade1-out {
	animation: fade1-slide-out 2s forwards;
}
.fade2-in {
	animation: fade2-slide-in 2s forwards;
}
.fade2-out {
	animation: fade2-slide-out 2s forwards;
}
.fade3-in {
	animation: fade3-slide-in 2s forwards;
}
.fade3-out {
	animation: fade3-slide-out 2s forwards;
}
@keyframes fade-slide {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0;
	}
}
@keyframes fade1-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade1-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}
@keyframes fade2-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-2.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade2-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-2.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}
@keyframes fade3-slide-out {
	0% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, 26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-3.jpg),
			url(../images/mobile/mobile-image-hero-1.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: -26rem 0, 0 0;
	}
}
@keyframes fade3-slide-in {
	0% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 0, -26rem 0;
	}
	100% {
		background: url(../images/mobile/mobile-image-hero-1.jpg),
			url(../images/mobile/mobile-image-hero-3.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 26rem 0, 0 0;
	}
}

.slide1-up {
	top: 0rem;
}
.slide2-up {
	top: -23rem;
}
.slide3-up {
	top: -48rem;
}

@media screen and (min-width: 425px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 48rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -45rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -45rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 45rem 0, 0 0;
		}
	}

	.slide1-up {
		top: 0rem;
	}
	.slide2-up {
		top: -21rem;
	}
	.slide3-up {
		top: -42rem;
	}
}

@media screen and (min-width: 510px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -57.5rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -57.5rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 57.5rem 0, 0 0;
		}
	}

	.slide3-up {
		top: -40rem;
	}
}

@media screen and (min-width: 768px) {
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -62rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -62rem 0;
		}

		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 62rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 62rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -62rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -62rem 0;
		}

