.fade1-in {
	animation: fade1-slide-in 2s forwards;
}
.fade1-out {
	animation: fade1-slide-out 2s forwards;
}
.fade2-in {
	animation: fade2-slide-in 2s forwards;
}
.fade2-out {
	animation: fade2-slide-out 2s forwards;
}
.fade3-in {
	animation: fade3-slide-in 2s forwards;
}

