@media screen and (min-width: 425px) {
	.HeroImage {
		padding: 24rem 0 0;
	}
   .QualityContent {
      max-height: 25rem;
   }
}
@media screen and (min-width: 480px) {
	.HeroImage {
		padding: 25rem 0 0;
	}
	.NavArrow {
		max-width: 155px;
	}
	.NavArrowIcon {
		padding: 1.2rem 2rem;
	}
}
@media screen and (min-width: 510px) {
	.HeroImage {
		padding: 32rem 0 0;
	}
   .QualityContent {
      max-height: 20rem;
   }
}
@media screen and (min-width: 768px) {
	.HeroImage {
		padding: 26rem 0 0;
		animation: fade-slide 1s forwards;
	}
}
@media screen and (min-width:1024px){
   #body-content {
      max-width: 1024px;
   }
   .MenuBtn {
      display: none;
   }
   .section1 {
      flex-direction: row;
      justify-content:end;
      overflow-x: hidden;
   }
   .section2 {
      flex-direction: row;
      margin-top: -6px;
      z-index: 20;
   }
   .section1 .NavArrow {
      display : none;
   }
   .HeroImage {
      background: none !important;
      display: flex;
      position: relative;
      left: 44.5rem;
      width: auto;
      transition: 1s;
      overflow-x: visible;
      padding: 0;
   }
   .HeroImage.Slide1{
      left: 44.5rem;
      transition: 1s;
   }

}
