@media screen and (min-width: 425px) {
	.HeroImage {
		padding: 24rem 0 0;
	}
   .QualityContent {
      max-height: 25rem;
   }
}
@media screen and (min-width: 480px) {
	.HeroImage {
		padding: 25rem 0 0;
	}
	.NavArrow {
		max-width: 155px;
	}
	.NavArrowIcon {
		padding: 1.2rem 2rem;
	}
}
@media screen and (min-width: 510px) {
	.HeroImage {
		padding: 32rem 0 0;
	}
}
@media screen and (min-width: 768px) {
	.HeroImage {
		padding: 26rem 0 0;
		animation: fade-slide 1s alternate-reverse infinite;
	}
	@keyframes fade-slide {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0;
		}
	}
	@keyframes fade1-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-1.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -26rem 0, 0 0;
		}
	}
	@keyframes fade1-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 26rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-2.jpg),
				url(../images/desktop/desktop-image-hero-3.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -26rem 0, 0 0;
		}
	}
	@keyframes fade2-slide-in {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, -26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-2.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 26rem 0, 0 0;
		}
	}
	@keyframes fade3-slide-out {
		0% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: 0, 26rem 0;
		}
		100% {
			background: url(../images/desktop/desktop-image-hero-3.jpg),
				url(../images/desktop/desktop-image-hero-1.jpg);
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			background-position: -26rem 0, 0 0;
		}
	}
}
