.attribution {
	font-size: 11px;
	text-align: center;
}

* {
   box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
   margin: 0;
	padding: 0;
}

/* modals */
.hidden {
   display: none;
	pointer-events: none;
}
.StopScroll {
   height: 100vh;
   overflow: hidden;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
