@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #e5e5e5;
	display: flex;
	justify-content: center;
	background: url('../images/Bg-Image.jpg');
	background-size: cover;
}
#body-content {
	font-size: 14px;
	background-color: white;
	font-family: 'Poppins', sans-serif;
	margin: auto;
	width: 100%;
	max-width: 1600px;
}
ul {
	list-style: none;
	display: flex;
}
.ImageSize {
	width: 100%;
	height: auto;
	max-width: fit-content;
}
/* modals */
.hidden {
	display: none;
	pointer-events: none;
}
.StopScroll {
	height: 100vh;
	overflow: hidden;
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	pointer-events: none;
	display: none;
}
#backdrop.visible {
	display: block;
	pointer-events: all;
}
.Modal {
	position: absolute;
	z-index: 10;
	background: rgb(20 20 20 / 80%);
	width: 100%;
	top: 0;
	right: 0%;
	padding: 2rem 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	overflow-x: hidden;
}
.Modal.invisible.visible {
	display: block;
	animation: menu-slide-in 0.5s ease-out forwards;
}

.Modal.invisible {
	display: block;
	animation: menu-slide-out 0.5s ease-out forwards;
}

.ModalList {
	color: white;
	padding: 3.5rem 0 2rem;
	font-size: 1rem;
	list-style: none;
	justify-content: space-between;
	display: flex;
}

.MenuOpt .ImgLogo {
	display: flex;
	justify-content: center;
}
/* modals */

#header {
	justify-content: start;
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	position: absolute;
	padding: 2rem 1rem;
}
.ImgLogo {
	transform: translateX(calc(-50% - 20px));
	left: 50%;
	position: relative;
	z-index: 20;
}
#nav {
	display: flex;
}
.NavList {
	display: none;
}
.nav-bar__list--after {
	height: 10px;
	width: 2.5rem;
	position: relative;
	border-bottom: 2px solid white;
	border-radius: 20px;
	top: 0.8rem;
	left: -15.4rem;
	transition: 0.5s;
	display: none;
}
.MenuBtn {
	z-index: 20;
}
section {
	display: flex;
	flex-direction: column;
}
.section1 {
	overflow-x: hidden;
	/* margin-bottom: 10rem; */
}
.HeroImage {
	width: 100%;
	padding: 18rem 0 0;
	animation: fade-slide 1s forwards;
}


.PictureClass {
	display: none;
	width: 425px;
}
.Width-100 {
	width: 100%;
}
.Desktop {
	display: none;
}
.NavArrow {
	transform: translate(-100%, -110%);
	background: black;
	position: relative;
	display: flex;
	left: 100%;
	top: 74px;
	max-width: 127px;
}
.NavArrowIcon {
	padding: 1.2rem 1.5rem;
}
.QualityContent {
	padding: 5rem 2rem 5rem;
	height: 100%;
	max-height: 27rem;
	overflow-y: hidden;
}
.QualityContent .NavArrow {
	display: none;
}
.container {
	position: relative;
	transition: 1s;
	top: 0rem;
}
.ContainerText {
	padding: 0 0 5rem;
	opacity: 0;
}
.opacity {
	opacity: 1;
}
.header-2 {
	font-size: 2rem;
	line-height: 2rem;
	animation: move 2s ease-in alternate-reverse infinite;
}
p {
	padding: 1.5rem 0;
	color: hsl(0, 0%, 63%);
}
.SpanText {
	letter-spacing: 0.8rem;
	font-size: 0.8rem;
	font-weight: bold;
}
.ImageContent {
	width: 100%;
}
.QualityContent2 {
	padding: 4rem 2rem;
}
.header2 {
	letter-spacing: 0.25rem;
   animation: move 2s ease-in alternate-reverse infinite;
   animation-delay: 2s;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: blue;
}
#footer {
	background: #e5e5e5;
}
