.attribution {
	font-size: 11px;
	text-align: center;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	margin: 0;
	padding: 0;
}
#body-content {
   font-size: 14px;
   font-family:'Poppins', sans-serif;
	border: 1px solid red;
	margin: auto;
	max-width: 1440px;
}
ul {
	list-style: none;
	display: flex;
}
.ImageSize {
	width: 100%;
	height: auto;
	max-width: fit-content;
}
/* modals */
.hidden {
	display: none;
	pointer-events: none;
}
.StopScroll {
	height: 100vh;
	overflow: hidden;
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	pointer-events: none;
	display: none;
}
#backdrop.visible {
   display: block;
   pointer-events: all;
}
.Modal {
	position: absolute;
	z-index: 10;
	background: black;
	width: 85%;
	max-width: 370px;
	top: 0;
	right: 0%;
	padding: 2rem 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	overflow-x: hidden;
}
.Modal.visible {
	display: block;
	animation: fade-slide-in 0.8s ease-out forwards;
}

/* modals */

.attribution a {
	color: hsl(228, 45%, 44%);
}
#header {
   justify-content: start;
   display: flex;
   width: 100%;
   flex-direction: row-reverse;
   position: absolute;
   padding: 2rem 1rem;
}
.ImgLogo {
   transform: translateX(calc(-50% - 20px));
   left: 50%;
   position: relative;
}
#nav {
   display: flex;
}
section{
   display: flex;
   flex-direction: column;
}
.NavArrow {
   transform: translate(-100%, -105%);
   background: black;
   position: relative;
   display: flex;
   left: 100%;
   top: 100%;
   max-width: 127px;
}
.NavArrowIcon {
   padding: 1.2rem 1.5rem;
   /* border: 1px solid white; */
}

